* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: azure;
}

:root {
    --wp-leaf-nav-color: #000000;
    --wp-leaf-nav-width: 9%;
    --wp-leaf-all-text-size-color: #000000;
    --wp-leaf-all-color: #ddefff;
    --wp-leaf-all-text-hover: #eaf0f7;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 二级导航初始状态设置为可见 */

/* 二级导航触发时添加动画效果 */
.leaf-second_menu:hover>ul {
    display: block;
    /* 添加动画效果 */
    animation: slideDown 0.5s ease;
}

.leaf-menu-ul {
    display: flex;
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: flex-start;

}

.leaf-menu-ul>li>a:hover {
    color: var(--wp-leaf-all-color);
    transition: all .3s;
}

.leaf-menu-ul>li>a {
    color: var(--wp-leaf-nav-color);
}

.leaf-menu-ul>li {
    margin: 0px 10px;
    padding: 19px 0px;
    font-size: 14px;
    letter-spacing: 1px;
}

.leaf-menu_inli_ul {
    display: none;
}

.leaf-second_menu {
    padding: 3px 10px;
    position: relative;
    text-align: left;
    width: 140px;
    height: 25px;
    display: flex;
    align-items: center;
}

.leaf-second_menu>a {
    color: var(--wp-leaf-all-text-size-color);
}

.leaf_first_menu:hover>ul {

    position: absolute;
    border: 2px solid;
    border-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #00bbf2 20%, rgba(255, 255, 255, 0) 99%) 2 2 2 2;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition-duration: .10s;
    background: white;
    border-radius: 5px;
}



@keyframes leafnavrotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.leaf_first_menu:hover>a>i {
    animation: leafnavrotate 2s forwards;
    transform: rotate(90deg);
}



.leaf-second_menu:hover>ul {
    display: block;
    position: absolute;
    top: 30;
    border: 2px solid;
    border-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #00bbf2 20%, rgba(255, 255, 255, 0) 99%) 2 2 2 2;
    background-clip: padding-box;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


.leaf-third_menu {
    position: relative;
    padding: 3px 10px;
    text-align: left;
    top: 0;
    height: 28px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.leaf-menu_inli_inul_ul {
    margin-left: 160px;
    border-radius: 5px;
    background: white;
    width: 140px;
    display: none;
}

.leaf-second_menu:hover>ul {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

}

.leaf_header_block {
    display: flex;
    margin: 0px 7%;
    justify-content: space-between;
}

.leaf_head_nav_search_user {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.leaf-headnav li:hover>ul {
    display: block;
    animation: slideDown .5s ease;
    margin-top: 5px;
}

.leaf_login_enroll_img {
    padding: 19px 0px;
    font-size: 14px;
    text-align: center;
}

.leaf-user_login>a {
    color: var(--wp-leaf-all-text-size-color);
}

.leaf-user_login {
    background: aliceblue;
    padding: 1px 5px;
    margin-right: -8px;
    border-radius: 3px;
}

.leaf-user_enroll>a {
    color: var(--wp-leaf-all-text-size-color);
}

.leaf-user_enroll {
    margin-left: 18px;
    color: var(--wp-leaf-all-text-size-color);
    background: aliceblue;
    padding: 1px 5px;
    border-radius: 3px;
}

.login-enroll-texte {
    position: absolute;
    background: white;
    font-size: 12px;
    top: 18;
    line-height: 1.4;
    width: 18px;
    border-radius: 100%;
    height: 18px;
    text-align: center;
    border: 2px solid #e7e7e7;
}



.leaf-navtop_bigbackground {
    z-index: 999;
    width: 100%;
    top: -60;
    position: absolute;
    box-shadow: inset 0 0 2px #c5c5c5d1;
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsl(0deg 0% 100% / 50%) !important;
    transition: transform 1s ease;
    transform: translateY(60px);
}

.login_img {
    position: absolute;
}

.leaf_nav_alooftop {
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: inset 0 0 2px #c5c5c5d1;
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsl(0deg 0% 100% / 50%) !important;
    transition: transform 1s ease;
}



.leaf-img_logo {
    height: 50px;
    margin-top: 4px;
    width: 200px;
    object-fit: contain;
}

.leaf-banner_search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 0px;
}

.leaf_searc_input_box {
    width: 50%;
    height: 100%;
    outline: medium;
    border: none;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.leaf_search_but {
    height: 25px;
    width: 100%;
    outline: medium;
    border: none;
    padding: 0px 5px;
}

.logo_img_text {
    width: 20%;
    text-align: center;
}

.leaf-user_img_admin {
    margin-left: 20px;
}

.leaf-head_nav_backgroundimg {
    position: relative;
}

.leaf_title-speech {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    width: 100%;
}

.leaf_h1_title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 5px;
    text-shadow: 0 0.1875rem 0.3125rem var(--wp-leaf-all-text-size-color);
}

.leaf_h4_title {
    font-size: 1rem;
    line-height: 1.5rem;
    text-shadow: 0 0.1875rem 0.3125rem var(--wp-leaf-all-text-size-color);
}

.leaf-head_nav_backgroundimg::after {
    content: "";
    position: absolute;
    left: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxLjQxNCI+PHBhdGggZD0iTTEyIDEybDEyIDEySDBsMTItMTJ6IiBmaWxsPSIjZjZmN2ZkIi8+PC9zdmc+);
    background-size: 24px 24px;
    width: 100%;
    height: 24px;
    bottom: -1px;
    z-index: 11;
}

.leaf_header_banner_bg {
    object-fit: cover;
}

.leaf_home_slide {
    width: 100%;
}

.leaf_home_slide_allon {
    display: flex;
    width: 100%;
}

.leaf_two_slide_all {
    float: left;
    margin-left: 25px;
}

.logo_img_setings {
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    line-height: 58px;
    color: #1100f5;
}

.leaf_logo_titel_h4 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding: 10px 0px;
    color: black;
}

.leaf_loginng_avatar {
    width: 40%;
    border-radius: 100%;
}

.leaf_header_search_user {
    display: flex;
    align-items: center;
}

.leaf_login_enroll_avatar {
    text-align: center;
    padding: 5px 0px;
}

.leaf_slide_slider_article_all {
    display: flex;
    flex-direction: column;
    height: 40%;
}

/*第一种幻灯片的样式设计*/
.leaf_slide_all_information {
    position: absolute;
    padding: 20px;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 96%;
    background: linear-gradient(transparent, rgba(0, 0, 0, .5));
}

.leaf_slide_avatar_name_time>p {
    margin: 0px 5px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-button-next,
.swiper-button-prev {
    background: #0c0c0c1a;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
}

.leaf_slide_all:hover>.swiper-button-next,
.leaf_slide_all:hover>.swiper-button-prev {
    opacity: 1;
}

.leaf_slide_title {
    padding: 5px 0px;
}

.slide_sub_title {
    font-size: 16px;
    text-align: left;

}

.slide_title {
    color: white;
    font-size: 30px;
}

.slide_avatar {
    border-radius: 100%;
}

.slide_avatar_block {
    width: 3%;
}

.leaf_slide_avatar_name_time {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.leaf_slide_all_information p {
    font-size: 14px;
    color: white;
}

.leaf_slide_back {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.leaf_slide_all {
    width: 100%;
    height: 100%;
}

.leaf-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.leaf_sidebar_nav {
    display: none;
}

.leaf_search_ali_icon {
    width: 25px;
    height: 25px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.logo_text_mobile {
    display: none;
}

.mobile_nav_logo_block {
    width: 200px;
    height: 50px;
}

.leaf_sidebar_noback_logo {
    width: 75%;
    padding: 50px;
}

@media screen and (min-width: 995px) and (max-width: 1200px) {
    .navbar-form {
        display: none;
    }

    .leaf_pop_up_search {
        display: flex !important;
        align-items: center;
    }

    .leaf_search_ali_icon {
        width: 25px;
        height: 25px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }

    .leaf_loginng_avatar {
        width: 40%;
    }
}

@media screen and (min-width: 1px) and (max-width: 995px) {
    .logo_img_text {
        display: none;
    }

    .navbar-form {
        display: none;
    }

    .leaf_pop_up_search {
        display: flex !important;
        align-items: center;
    }

    .leaf_search_ali_icon {
        width: 25px;
        height: 25px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }

    .leaf_sidebar_nav_ali_icon {
        width: 20px;
        height: 20px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }

    .leaf-headnav {
        display: none;
    }

    .leaf_sidebar_nav {
        display: block;
    }

    .logo_text_mobile {
        display: block;
    }

    .leaf_header_search_user {
        justify-content: flex-end;
    }

    .leaf-user_img_admin {
        display: none;
    }

}

/*侧边导航栏*/
.leaf_sidebar_nav_shrink {
    opacity: 0;
    display: flex;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -100px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 9999;
    transition: all .3s ease-out 0s;
}

.leaf_sidebar_nav_unfold {
    visibility: visible !important;
    left: 0 !important;
    opacity: 1 !important;
}

.leaf_sidebar_back {
    width: 100%;
    height: 20%;
}

.leaf_sidebar_nav_black {
    flex: 30%;
    background: #000;
    opacity: .4;
}

.leaf_sidebar_nav_all {
    position: relative;
    flex: 65%;
    max-width: 400px;
    background: #ffffffba;
    overflow-y: auto;
}

.leaf_sidebar_logo {
    width: 70%;
    position: absolute;
    top: 7%;
    z-index: 999999;
    left: 15%;
}

.leaf_sidebar_nav_block {
    margin: 5px 0px 0px 5px;
}

.leaf-menu-sidebar-ul-block {
    padding: 5px;
}

.leaf_first_menu_sidebar {
    font-size: 16px;
    margin: 10px 0px;
    position: relative;
}

.leaf_second_menu_sidebar {
    padding: 2px;
    font-size: 16px;
    position: relative;
    margin: 2px 0px 2px 10px;
}

.leaf_third_menu_sidebar {
    padding: 2px;
    font-size: 16px;
}

.leaf_sidebar_ico_ali {
    position: absolute;
    right: 0;
    top: 2;
}

.leaf_second_menu_sidebar. {
    position: relative;
}

.leaf_second_menu_sidebar>.leaf_sidebar_ico_ali {
    position: absolute;
    right: 0;
    top: 2;
}

.leaf_second_menu_sidebar_ul,
.leaf_third_menu_sidebar_ul {
    opacity: 0;
    display: none;
    transition: all .3s ease-out 0s;
    visibility: hidden;
}

.leaf_first_menu_sidebar>.show-submenu,
.leaf_second_menu_sidebar>.show-submenu {
    opacity: 1;
    display: block !important;
    visibility: visible;
}

.sidebar-menu-link.leaf_link_all {
    width: 85%;
    display: block;
    padding: 10px;
}

.sidebar-menu-link.sidebar-sub-menu-link {
    display: block;
    padding: 5px;
}

.leaf_search_eject_block_all_shrink {
    display: flex;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.leaf_search_block_unfold {
    visibility: visible;
}

.leaf_search_eject_block {
    padding: 10px;
    top: 0;
    opacity: 0;
    transition: all .3s ease-out 0s;
    position: relative;
    max-width: 400px;
    background: #fff;
    z-index: 99999;
    border-radius: 4px;
    text-align: center;
}

.leaf_search_mobile_black {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .4;
    background: #000;
}

.leaf_search_block_unfold .leaf_search_eject_block {
    opacity: 1 !important;
    top: -200px !important;
}