.leaf_search_page_all {
    width: 65%;
}

.search_page_title {
    padding: 5px;
    font-size: 14px;
}

.leaf_search_page_post_all {
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
}